# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# Database (CRITICAL)
*.db

# AWS credentials
.aws/

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/
frontend/dist/

# Mac
.DS_Store

# Logs
*.log

# Data / models
data/
*.pt
*.pkl

# VSCode
.vscode/

.claude/
CLAUDE.md
mlflow.db
